*{
    margin: 0;
    padding: 0;
}
.el-page-header{
    background-color: white;
    width: 100%;
    padding: 15px;
    position: fixed;
    z-index: 99;
}
body{
    background-image: url(../img/bg-earth.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
}
#up{
    height: 100%;
    width: 100%;
    background-color: #f2f5f6;
    box-shadow: 0 0 6px rgba(0,0,0, .12);
    text-align: center;
    line-height: 40px;
    color: #1989fa;
}
.blog-post-subtitle{
    margin-top: 50px;
    margin-bottom: 10px;
}
pre{
    background-color: #1E1E1E;
    padding: 5px;
    color: #D4D4D4 !important;
}
code span{
    color: #6A9955;
}
.wxz-img{
    width: 600px;
    height: 400px;
    position: relative;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
    margin: 0 auto;
    margin-bottom: 30px;
}